/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    main{
        max-width: 64rem;
        margin:auto;
    }

  
/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header div.contain {
    padding: 0 2%;
    max-width: 64rem;
        margin:auto;
}


/*----------- NAVIGATION --------------*/
.navigation {
    padding: 0 2%;
    max-width: 64rem;
    margin: auto;
}


/*----------- MAIN --------------*/

div.content {
    background-color: rgb(232,233,235);
}

div.double img {
    width: 50%
}

main section.gallery {
    grid-template-columns: 1fr 1fr 1fr;
}

main section.gallery figure picture img {
    opacity: 75%;
    filter: blur(2px);
}

main section.gallery figure:hover {
    box-shadow: 1px 1px 5px 10px rgb(141, 8, 1);
    border: solid 3px rgb(207, 187, 44);
    transition: 0.5s;
}

main section.gallery figure:hover img {
    opacity: 100%;
    filter: blur(0px);
    transition: 0.5s;
}

/*----------- FOOTER --------------*/
    
} /* end of media query */