@media only screen and (min-width: 1028px){

    header, nav, main, footer {
        max-width: 75rem;
        margin: auto;
    }


div.main {
    max-width:75rem;
    grid-template-columns: 1fr 1fr 1fr;
}
}