* {-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box ;
    box-sizing: border-box;
}

body {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    background-color: rgb(202, 247, 247);
    color: rgb(55, 12, 80);
}

header, footer p, h3 {
    font-family: 'Amatic SC', cursive;
    padding: 1rem 2%;
    text-align: center;
}

header {
    background-color:  rgb(55, 12, 80);
    color: rgb(202, 247, 247);
    border-radius: 10px;
}

div.main {
    padding: 1rem 2%;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;

}

div.main div {
    width: 98%;
    margin: 2%;
    border-style:solid;
    border-radius: 10px;
    border-color: rgb(55, 12, 80);
    background-color: rgb(165, 202, 202);
}


div p {
    padding: 0 1rem 2%;
}

h3 {
    background-color: rgb(89, 28, 124);
    color: rgb(202, 247, 247);
    padding: 0.5rem;
    margin: 0;
}


div.main figure img {
    width: 100%;
}

div.main figure {
    width: 100%;
    margin: 0;
}

footer {
    color: rgb(202, 247, 247);
    background-color: rgb(55, 12, 80);
    border-radius: 10px;
}