/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

main div.personas div {
    padding: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

main div.personas div img {
    margin: 0 1rem;
}


/*----------- FOOTER --------------*/
    
} /* end of media query */