body {
    width: 80%;
    margin: auto;
    color: rgb(61, 8, 26);
    background-color: rgb(220, 245, 245);
}

main {
    padding: 1rem;
}

header {
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(220, 245, 245);
    background-color:  rgb(61, 8, 26);
    padding: 0.5em 0.5em;
}

footer {
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(220, 245, 245);
    background-color:rgb(61, 8, 26);
    padding: 0.25em 0.5em;
}

img {
    border-radius: 10px;
    display: block;
    position: absolute;
    float: right;
    top: 1.5rem; right: 15rem; 
    width: 10%;
    box-shadow: 5px 5px 5px rgb(61, 8, 26);
}

a {
    color: rgb(61, 8, 26);
}

a:hover {
    color: rgb(145, 14, 108);
}

footer a {
    color: aqua;
}