body {
    width: 80%;
    margin: auto;
    color: rgb(55, 12, 80);
    background-color: rgb(202, 247, 247);
}

header {
    border-radius: 10px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    width: 75%;
    color: rgb(202, 247, 247);
    background-color:  rgb(55, 12, 80);
    padding: 0.5em 0.5em;
}

footer {
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 75%;
    color: rgb(202, 247, 247);
    background-color:rgb(55, 12, 80);
    padding: 0.25em 0.5em;
}

img {
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 1.5em; right: 30em; 
    width: 10%;
    box-shadow: 5px 5px 5px rgb(61, 8, 26);
}

a {
    color: rgb(61, 8, 26);
}

a:hover {
    color: rgb(145, 14, 108);
}

footer a {
    color: aqua;
}