body {
    width: 75%;
    margin: 0 auto;
    color: rgb(55, 12, 80);
    background-color: rgb(202, 247, 247);
}

header {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    width: 75%;
    color: rgb(202, 247, 247);
    background-color:  rgb(55, 12, 80);
    padding: 0.5em 0.5em;
}

footer {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 75%;
    color: rgb(202, 247, 247);
    background-color:rgb(55, 12, 80);
    padding: 0.25em 0.5em;
}

img {
    display: block;
    position: absolute;
    top: 1.5em; right: 30em; 
    width: 10%;
}

a {
    color: teal;
}

a:hover {
    color: rgb(6, 2, 24);
}