/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-family: 'Barlow', sans-serif;
}
h1, h2 {
    font-family: 'Amatic SC', cursive;
}

/*----------- HEADER --------------*/

header {
    background-color: rgb(232,233,235);
}

header div.contain {
    padding: .5rem 2%;
    color: rgb(25,24,10);
    display: flex;
    justify-content: left;
}

.headings {
    display: flex;
}
header img {width: 50px;}
header h1 {margin: auto 0 0; font-size: 1.3rem;}
header h2{margin: 0; font-weight: normal; font-size: 1rem;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: rgb(141, 8, 1);
}

.navigation {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li{
    display:none;
}
nav ul li a {
    display: block;
    color:rgb(238, 234, 190);
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}


nav ul li a:hover {
    background-color: rgb(191, 6, 3);
    color: rgb(233, 220, 220);
}
nav ul li.active a {
    background-color: rgb(207, 187, 44);
    color:  rgb(141, 8, 1);
}

.responsive li {
    display: block;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
    color: rgb(25,24,10);
}

h1 {
    color:  rgb(141, 8, 1);
}


div.hero img {
    width:100%; height: auto;
}

div.hero {
    width: 100%; margin: 0;
    position: relative; 
}

div.hero section {
    width: 50%;
    background-color: rgba(232,233,235, 0.705);
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 1rem;
    margin: 0;
}

div.content {
    display: none;
}

div.article {
    display: block;
    border:rgb(141, 8, 1) dotted;
    background-color: rgb(232,233,235);
    margin: 10px auto;
    padding: 10px;
}

div.article {
    display: flex;
    flex-direction: column-reverse;
}

div.article section.articlePhoto {
    width:100%;  
}
section.articlePhoto img {
    width: 100%;
    height: auto;
}

div.contact {
    display: block;
    border:rgb(141, 8, 1) dotted;
    background-color: rgb(232,233,235);
    margin: 10px auto;
    padding: 10px;
}

div.double {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#specialMessage {
    background-color:rgb(207, 187, 44);
    text-align: center;
}
div.showme {
    display: block;
}
div.hideme {
    display: none;
}

/*----------- FOOTER --------------*/
footer {
    background-color: rgb(141, 8, 1);
    color:rgb(238, 234, 190);
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}